body{
    background-color:black;
    text-align: center;
    font-family:Verdana;
    
}

h1{
    color: aqua;
}

h2{
    color:blueviolet;
}

h3{color: brown;
}

h4{color: cadetblue;

}
h5{color: pink;
}
 h6{
    color: blue;
 }
.p-1{
color:crimson;
}

li{
    color:yellow;
}
div{
    text-align: center;
}

